body {
    text-align: center;
}

* {
    box-sizing: border-box;
}


/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}


/* each type of header */

#header {
    background-color: rgb(249, 245, 245);
    width: 100%;
    height: 530px;
    color: rgb(237, 16, 16);
    text-align: center;
    font-size: 20px;
    line-height: 70px;
}

#header ul {
    margin: 0px;
    padding: 0px;
}

#header ul li {
    float: center;
    width: 100%;
    font-size: 40px;
}


/* real time */

#time {
    float: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50pt;
    border-style: inset;
}


/* buttons(navigators) */

.tablink {
    background-color: rgb(161, 151, 151);
    color: rgb(25, 25, 112);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    width: 25%;
}


/* hover: when put mouse at button */

.tablink:hover {
    background-color: rgb(230,230,250);
}


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: rgb(33, 94, 125);
    display: none;
    padding: 10px 30px;
    height: 50%;
}

th,
td {
    border: 1px solid rgb(44, 111, 211);
    border-radius: 6px;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: rgb(15, 202, 208);
}

table {
    border-style: double;
    background-color: rgba(96, 145, 188, 0.844);
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    min-height: 200px;
}

.column1 {
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center;
    min-height: 200px;
}

.column2 {
    float: left;
    width: 100%;
    padding: 10px;
    text-align: center;
    min-height: 200px;
}

.column3 {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
    min-height: 300px;
}

.column4 {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
    min-height: 300px;
}


/* Bed room */

.column4 #temp1 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column4 #humi1 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column4 #CD1 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column #lux {
    width: 200px;
    height: 200px;
    float: center;
    top: 50px;
    border-style: inset;
}

.column #soil1 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}


/* end bed room */


/* Living room */

.column #light_1 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column2 #transfer {
    width: 150px;
    height: 150px;
    float: center;
    border-style: inset;
}

.column #light_2 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column1 #fan_1 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column1 #fan_2 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column3 #pump_1 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column3 #pump_2 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column1 #mist {
    width: 250px;
    height: 250px;
    float: center;
    border-style: inset;
}

.column1 #roof {
    width: 250px;
    height: 250px;
    float: center;
    border-style: inset;
}


/* end living room */


/* Kitchen */

.column4 #temp2 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column4 #humi2 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column4 #CD2 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}

.column2 #soil2 {
    width: 200px;
    height: 200px;
    float: center;
    border-style: inset;
}


/* end Kitchen */

/* fix here */
.column #kiet {
    width: 200px;
    height: 200px;
    float: center;
}

.column #thong {
    width: 200px;
    height: 200px;
    float: center;
}
/* end fix  */

#Information {
    width: 250px;
    height: 250px;
    margin-right: 9%;
    margin-top: 5.8%;
    float: right;
}

footer {
    padding: 10px;
    margin: 0px;
    list-style: none;
    color: white;
    background-color: rgb(67, 163, 231);
    clear: left;
}

h4 {
    font-family: Lucida;
    text-align: center;
    font-size: 20px;
}

#table {
    float: center;
    margin: 0%;
    width: 150px;
    height: 150px;
    min-width: 100%;
    min-height: 100%;
}

#bieudotemp{
    color: rgb(7, 55, 165);
    text-align: center;
    font-size: 40px;
    width: 1000px;
    height: 650px;
    float: center;
}